html(lang="en")
  // Variables
  - var tabLength = 200;
  - var tabHeight = 40;
  - var arrowLength = 15
  - var arrowHeight = 4
  //Site
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="projekt do pracy magisterskiej Marta Smektala")
    meta(name="author" content="Marta Smektala")

    title = gamifikacja

    //main CSS file
    link(href="style.min.css" rel="stylesheet")

    //jquery
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
    
  
  body
    div
      form(action="")
        p Hey there! What's Your name? <input type="text" id="userNameInput">
      input(type="submit" value="Submit your name" onclick="readUserName()")
    
    div
      form(action="")
        p Hey there! What's Your name? <input type="text" id="userNameInput">
      input(type="submit" value="Show Progress Code" onclick="getProgCode()")

    div
      form(action="")
        p Paste your progress code here: <input type="text" id="progCodeInput">
      input(type="submit" value="Submit your progress code" onclick="readProgCode()")

    div
      form(action="")
<<<<<<< HEAD
        p Paste decimal number here: <input type="text" id="dummyProgCode">
      input(type="submit" value="Submit your binary number" onclick="alertProgCode()")
      
=======
        p Paste decimal number here: <input type="text" id="dummyNo">
      input(type="submit" value="Submit your decimal number" onclick="alertNo()")
 
    div
      form(action="")
        p Paste decimal number here: <input type="text" id="dummyBinNo">
      input(type="submit" value="Submit your binary number" onclick="alertBinNo()")

>>>>>>> origin/marta
    div
      form(action="")
        p Paste decimal number here: <input type="text" id="dummyProgCode">
      input(type="submit" value="Submit your binary number" onclick="alertProgCode()")
<<<<<<< HEAD
    
    <br><br>
    div(class="container")
      div(class="row")
        div(class="col-md-3" id="1" onclick="complete(this)" style="background-color: green; height: 50px")
          p aaa
        div(class="col-md-3" id="2" onclick="complete(this)" style="background-color: blue; height: 50px")
          p bbb
        div(class="col-md-3" id="3" onclick="complete(this)" style="background-color: yellow; height: 50px")
          p ccc
      div(class="row")
        div(class="col-md-3" id="4" onclick="complete(this)" style="background-color: red; height: 50px")
          p aaa
        div(class="col-md-3" id="5" onclick="complete(this)" style="background-color: magenta; height: 50px")
          p bbb
        div(class="col-md-3" id="6" onclick="complete(this)" style="background-color: gray; height: 50px")
          p ccc
    <br>
    div(class="container")
      div(class="row")
        div(class="col-md-3" id="7" style="background-color: green; height: 50px")
          p aaa
        div(class="col-md-3" id="8" style="background-color: blue; height: 50px")
          p bbb
        div(class="col-md-3" id="9" style="background-color: yellow; height: 50px")
          p ccc
      div(class="row")
        div(class="col-md-3" id="10" style="background-color: red; height: 50px")
          p aaa
        div(class="col-md-3" id="11" style="background-color: magenta; height: 50px")
          p bbb
        div(class="col-md-3" id="12" style="background-color: gray; height: 50px")
          p ccc
    <br>
    div(class="container")
      div(class="row")
        div(class="col-md-3" id="13" style="background-color: green; height: 50px")
          p aaa
        div(class="col-md-3" id="14" style="background-color: blue; height: 50px")
          p bbb
        div(class="col-md-3" id="15" style="background-color: yellow; height: 50px")
          p ccc
      div(class="row")
        div(class="col-md-3" id="16" style="background-color: red; height: 50px")
          p aaa
        div(class="col-md-3" id="17" style="background-color: magenta; height: 50px")
          p bbb
        div(class="col-md-3" id="18" style="background-color: gray; height: 50px")
          p ccc
=======
>>>>>>> origin/marta

    //custom JS
    script(src="project.min.js")