///* Site *///////////////////////////////////////////////////////////

///* Fonts *//////////////////////////////////////////////////////////

@font-face {
    font-family: font_awesome;
    src: url(../../fonts/fontawesome-webfont.ttf);
}
@font-face {
    font-family: lato_black;
    src: url(../../fonts/Lato-Black.ttf);
}

@font-face {
    font-family: lato_regular;
    src: url(../../fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: lato_light;
    src: url(../../fonts/Lato-Light.ttf);
}

// ----------------------SECTION FIRST

.header {
  background: #9F1E49;
  color:white;
  height: 90px;
}
.header h1 {
  font-size: 18px;
}
.header h2 {
  font-size: 12px;
}
.logo {
  margin-top: 16px;
  font-size: 40px;
  color: white;
}
.logo:hover {
  color: #cf8ea4;
  text-decoration: none;
}

.popup {
  width: 40%;
	height: 200px;
	background: #F2F2F2;
  -webkit-box-shadow: 9px 10px 77px -8px rgba(133,126,133,1);
  -moz-box-shadow: 9px 10px 77px -8px rgba(133,126,133,1);
   box-shadow: 9px 10px 77px -8px rgba(133,126,133,1);
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-left:30%;
   position: fixed;
   z-index: 1;
   border-radius: 10px;
   visibility: "hidden";
}

.popup_text {
  color:#2F1B41;
  font-size:18px;
  margin-top:20px;
  font-family: 'lato_regular', sans-serif;
}

.input {
  border: solid 2px #9F1E49;
  border-radius: 30px;
}
.input:focus{
  border: solid 2px #FECD51;
}
.icon_popup {
  height: 150px;
  -webkit-box-shadow: 9px 10px 77px -8px #857e85;
  -moz-box-shadow: 9px 10px 77px -8px #857e85;
  box-shadow: 9px 10px 77px -8px #857e85;
  border-radius: 102px;
  margin-top: 30px;
  margin-left: 30px;
}
.close {
  position: relative;
  margin-right: 20px;
  margin-top: 10px;
  font-size: 24px;
}
.text_gratulation {
    margin-top: 60px;
    left: 10%;
}
.first {
    background: #FECD51;
    color:white;
    height: 500px;
    background-image: url(img/background.png);
}

.first h1 { 
    text-align: center;
    color:white;
    margin-top:80px;
    font-family: lato-regular, sans-serif;
    margin-bottom: 20px
}
.gifts h4 { 
    text-align: center;
    font-family: lato-regular, sans-serif;
    color: #cba433;
    margin-top: 20px;
}
// .gifts h4:hover {
//   color: #9F1E49;
// }

.first h1 { 
    margin-top:170px;
    color: #2F1B41;
}
.first h4 {
    color: #2F1B41;
}
.main_btn {
    background: #9F1E49;
    margin-bottom: 80px;
    margin-top: 40px;
    border-radius: 40px;
    width: 200px;
    -webkit-box-shadow: 9px 10px 77px -8px rgba(94,15,42,1);
    -moz-box-shadow: 9px 10px 77px -8px rgba(94,15,42,1);
    box-shadow: 9px 10px 77px -8px rgba(94,15,42,1);
    height: 50px;
    width: 250px;
    font-size: 1.2em;
    font-family: lato-regular, sans-serif;
}
.main_btn:hover {
    box-shadow:none;
    transition-duration: width 5s;
    color:#cf8ea4;
}

.btn:focus { outline:0 !important; color: #cf8ea4; }
// ----------------------SECTION SECOND
.second {
    background: #F2F2F2;
    height: 550px;
}
.second h1 {
    color: #2F1B41;
    text-align: center;
    margin-top: 80px;
}
.second h4 {
    color: #2F1B41;
    text-align: center;
    margin-top: 40px;
}
.icons {
    height: 200px;
    -webkit-box-shadow: 9px 10px 77px -8px rgba(133,126,133,1);
    -moz-box-shadow: 9px 10px 77px -8px rgba(133,126,133,1);
    box-shadow: 9px 10px 77px -8px rgba(133,126,133,1);
    border-radius: 102px;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto 
}
// ----------------------SECTION THIRD
.third {
    background: #9F1E49;
    height: 300px;
}
.third h1 {
    color: white;
    text-align: center;
    margin-top: 80px;
}
.btn_third {
    background: #FECD51;
    margin-bottom: 80px;
    margin-top: 40px;
    border-radius: 40px;
    width: 200px;
    -webkit-box-shadow: 9px 10px 77px -8px rgba(94,15,42,1);
    -moz-box-shadow: 9px 10px 77px -8px rgba(94,15,42,1);
    box-shadow: 9px 10px 77px -8px rgba(94,15,42,1);
    color:#2F1B41;
    height: 50px;
    font-size: 1.2em;
    font-family: lato-regular, sans-serif;
}
.btn_third:hover {
    box-shadow:none;
    transition-duration: width 5s;
    color:#cba433;
}
// ----------------------SECTION FOURTH
.fourth {
    background: #2F1B41;
    height: 250px;
}

.fourth h1, .fourth h4 {
    text-align: left;
    padding-left: 80px;
    opacity:0.5;
}
// // --------------------------------------GAMIFICATION PAGE
.body {
  background: white;
}

.firstG {
    background: #FECD51;
    color:white;
    height: 320px;
}
.gifts {
  margin-bottom: 25px;
  height: 100px;
  margin-top: 80px;
  font-size: 80px;
  color: #cba433;
  opacity: 0.5;
}
// .gifts:hover {
//   opacity:1;
//   color: #9F1E49;
// }
// .firstG h4 {
//     color: #2F1B41;;
//     position:absolute;
//     text-align: center;
// }
.gift {
    height: 100px;
    margin-top: 80px;
}

html, body {
  width: 100%;
  color:white;
}
.firstG h1 {
  font-size: 26px;
  color: black;
  padding: 40px 0 100px 20%;
  margin-bottom: 50px;
}
.title h2 {
  text-align: center;
  font-family: lato-regular, sans-serif;
  font-size: 32px;
  opacity:0.1;
}

// @mixin tabs {
//   @for $i from 1 through 3 {
//     &:nth-of-type(#{$i}) {
//       &:checked {
//         .slide {
//           left: calc((100% / #{3}) * #{$i - 1});
//         }
//       }
//     }
//   }
// }


label, p, a, h1, div {
  font-family: lato-regular, sans-serif;
}

.tab-wrap {
  width: 100%;
  margin-left: 0%;
  position: relative;
  display: flex;
  top: -106px;
}

input[type="radio"][name="tabs"] {
  position: absolute;
  z-index: -1;
  &:checked {
    + .tab-label-content {
      label {
        color: #9F1E49;
      }
      .tab-content {
        display: block;
        width:100%;
      }
    }
  }
  @include tabs; 
  &:first-of-type {
    &:checked {
      ~ .slide {
        left: 0%;
      }
    }
  }
}

label {
  cursor: pointer;
  color: #cba433;
  background-color: $cyan;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 56px;
  transition: color 0.2s ease;
  width: 100%;
}

// .slide {
//   background: #9F1E49;
//   width: calc(100% / 3);
//   height: 4px;
//   position: absolute;
//   left: 0;
//   top: calc(100% - 4px);
//   transition: left 0.3s ease-out;
// }

.tab-label-content {
  width: 100%;
   color:black;
  .tab-content {
    position: absolute;
    top: 100px;
    left: 0px;
    line-height: 130%;
    display: none;
    color:black;
  }
}

@media screen and (max-width: 800px) {
  .firstG h1 {
    padding: 40px 0 90px 10%;
  }
  .tab-wrap {
    width: 100%;
    margin-left: 10%;
    top: -106px;
  }
}

//------------------- SECTION2 
.space {
  margin-top: 160px;
}
.br_class {
  margin-top:5%;
  margin-bottom:25%;
}
.secondG {
    background: #F2F2F2;
    height: 1300px;
}

.rating {
  position: absolute;
  bottom: -250px;
  width: 50%;
	height: 250px;
  background: lightgreen;
}
.rating2 {
  position: absolute;
  bottom: -250px;
  width: 50%;
	height: 250px;
  background: #65d565;
}
.rating3 {
  position: absolute;
  bottom: -250px;
  width: 50%;
	height: 250px;
  background: #3cb43c;
}
.rating h4,
.rating2 h4,
.rating3 h4 {
    position: absolute;
    bottom: 0;
    font-size: 18px;
    text-align: center;
    font-family: lato-regular, sans-serif;
    opacity: 0.5;
    width: 100%;
}

.blog {
  position: absolute;
  width: 90%;
	height: 250px;
	background: white;
  -webkit-box-shadow: 9px 10px 77px -8px rgba(133,126,133,1);
  -moz-box-shadow: 9px 10px 77px -8px rgba(133,126,133,1);
  box-shadow: 9px 10px 77px -8px rgba(133,126,133,1);
  padding: 20px 20px 20px 20px;
}
.blog:hover {
  box-shadow: 9px 10px 77px -8px  rgba(192,186,192,0.9);
  transition-duration: width 9s;
}
.blog h4 {
  color: #2F1B41;
  position:absolute;
  text-align: center;
}
.blog p {
  color: #2F1B41;
  font-family: lato-regular, sans-serif;
  text-align: center;
}
.font-awes i {
  font-size: 32px;
  color: #6b7482;
  margin-left: 80%;
  margin-bottom: 5px;
}
.font-awes2 i {
  font-size: 32px;
  color: #6b7482;
  margin-left: 80%;
  margin-bottom: 5px;
}
.font-awes3 i {
  font-size: 32px;
  color: #6b7482;
  margin-left: 80%;
  margin-bottom: 5px;
}
// .font-awes i:hover {
//   color: #F2F2F2;
// }
// .font-awes2 i:hover {
//   color: #F2F2F2;
// }
// .font-awes3 i:hover {
//   color: #F2F2F2;
// }
.secondG h4 {
  color:black;
  position: relative;
  text-align: center;
  padding-top: 20px;
}
.btn_gamification {
  margin-top:20%;
}
.gam_btn {
    background: #9F1E49;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 40px;
    width: 150px;
    height: 40px;
    font-size: 1.2em;
    font-family: lato-regular, sans-serif;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.gam_btn2 {
    background: #FECD51;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 40px;
    width: 150px;
    height: 40px;
    font-size: 1.2em;
    font-family: lato-regular, sans-serif;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.gam_btn:hover {
  color: #cf8ea4;
}
.gam_btn2:hover {
  color: #cba433;
}

.fourthG {
    background: #2F1B41;
    height: 300px;
    margin-top: 80%;
}

.fourthG h1, .fourthG h4 {
    text-align: left;
    padding-left: 80px;
    opacity:0.5;

}
.fourthG2 {
    margin-top: 30px;
}

#questions {
  display: none;
}




