///* Site *///////////////////////////////////////////////////////////

///* Fonts *//////////////////////////////////////////////////////////
@font-face {
    font-family: Technical_font;
    // src: url(../../fonts/Pismo_Techniczne.ttf);
        src: url(../../fonts/RomanS.ttf);
}

@font-face {
    font-family: Technical_font_italic;
    src: url(../../fonts/Pismo_Techniczne_Pochyle.ttf);
}

@font-face {
    font-family: Technical_font_hand;
    src: url(../../fonts/EngineerHand.ttf);
}

///* Variables *//////////////////////////////////////////////////////
  /* dimensions */
  @tabWidth: 200;
  @tabHeight: 40;
  /* colors */
  @shaded-paper: rgb(94.1%, 92.5%, 90.3%);
  @paper: @shaded-paper + #111;
  @shit-black: black;
  /* fonts */

